<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-181039223-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-181039223-1');
    </script>
    <title>Brenden Price</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <hr>
      <!--Row for name, and download link. To do: make download work-->
      <div class="row">
        <div class="col-6">
          <h1>Brenden Price</h1>
        </div>
        <div class="col-6">
          <!--<p class="text-right"><a href="">Download my Resume</a></p>-->
        </div>
      </div>
      <hr>
      <!--Row for image, current position, summary, and address. To Do: integrate address into db-->
      <div class="row">
        {% for me in me.all %}
        <div class="col-md-8 col-sm-12">
          <div class="media">
            <img class="mr-3" src="{{me.image.url}}" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">{{me.position}}</h5>
              <p>{{me.summary}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="row justify-content-md-around m-1">
            <address>
              <strong>Brenden Price</strong><br>
              1700 Moore St, Box 1334<br>
              Huntingdon PA, 16652<br>
              <abbr title="Phone">P:</abbr> (570)766-3452<br>
              <a href="mailto:#">price.brenden01@gmail.com</a>
              <a href="mailto:#">pricebx19@juniata.edu</a>
            </address>
          </div>
        </div>

      </div>
      {% endfor %}
      <hr>
      <!--row for educations and skills, each get half the width. To do: update the JavaScript for the progress bars, change color dynamically and add a % label-->
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2>Education</h2>
          <hr>
          {% for edu in edu.all %}
          <div class="row">
            <div class="col-6">
              <h4>{{edu.institution}}</h4>
            </div>
            <div class="col-6">
              <h6 class="text-right"><span aria-hidden="true"></span>{{edu.start_date|date:"M Y"}} - {{edu.end_date|date:"M Y"}}</h5>
            </div>
          </div>
          <h5 style="float:left; margin-right:0.25em;"><span class="badge badge-secondary">{{edu.type}}</span></h5>
          <h5><span class="badge badge-secondary">{{edu.gpa}} GPA</span></h5>
          <p>{{edu.summary|linebreaks}}</p>
          {% endfor %}
        </div>
        <div class="col-md-6 col-sm-12">
          <h2>Skill Set</h2>
          <hr>
          {% for skill in skill.all %}
          {% if skill.comfort <= 33 %}
          <div class="progress mt-4" style="height:20px;">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="{{skill.comfort}}" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"> {{skill.language}}</div>
          </div>
          {% endif %}
          {% if skill.comfort > 33 and skill.comfort <= 66 %}
          <div class="progress mt-4" style="height:20px;">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{skill.comfort}}" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> {{skill.language}}</div>
          </div>
          {% endif %}
          {% if skill.comfort > 66 and skill.comfort <= 100 %}
          <div class="progress mt-4" style="height:20px;">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{skill.comfort}}" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> {{skill.language}}</div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <hr>
      <h2>Work Experience</h2>
      <hr>
      <!--row for work experience, each job gets half width-->
      <div class="row">
        <!--loop through jobs-->
        {% for job in job.all %}
        {%if not job.end_date%} <!--if still working here-->
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-5">
              <h4>{{job.company}}</h4>
            </div>
            <div class="col-6">
              <h6 class="text-right"><span aria-hidden="true"></span>{{job.start_date|date:"M Y"}} - Present</h5>

            </div>
          </div>
          <h5><span class="badge badge-secondary">{{job.position}}</span></h5>
          <p>{{job.summary|linebreaks}}</p>
        </div>
        {%endif%}
        {% endfor %}
        <!--loop again for jobs not still working at-->
        {% for job in job.all %}
        {%if job.end_date%}
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-5">
              <h4>{{job.company}}</h4>
            </div>
            <div class="col-6">
              <h6 class="text-right"><span aria-hidden="true"></span>{{job.start_date|date:"M Y"}} - {{job.end_date|date:"M Y"}}</h5>
            </div>
          </div>
          <h5><span class="badge badge-secondary">{{job.position}}</span></h5>
          <p>{{job.summary|linebreaks}}</p>
        </div>
        {%endif%}
        {% endfor %}
      </div>
      <hr>
      <h2>Portfolio</h2>
      <hr>
      <div class="container">
        <iframe src="/" title="porfolio" width="100%" height="600px"></iframe>
      </div>
      <hr>
      <!--Contact me form. To do: use django forms to get this working-->
      <h2>Contact</h2>
      <hr>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8  col-12 jumbotron">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" aria-describedby="emailHelp">
                <span id="emailHelp" class="form-text text-muted" style="display: none;">Please enter a valid e-mail address.</span>
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea rows="10" cols="100" class="form-control" id="message" name="message" placeholder="Message" aria-describedby="messageHelp"></textarea>
                <span id="messageHelp" class="form-text text-muted" style="display: none;">Please enter a message.</span>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <hr>
      <footer class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p>Copyright © MyWebsite. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'jquery-3.3.1.min.js' %}" ></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script type="text/javascript">
    var thisBar = $(".progress-bar")
      for (i = 0; i < thisBar.length; i++) {
        var thisFill = thisBar.eq(i).attr("aria-valuenow");
        $(thisBar.eq(i)).animate({
          width: String(thisFill) + "%"
        }, 1000 , 'swing');
        setTimeout("", 5000);
      }

    </script>
  </body>
</html>
