<!doctype html>
<html lang="en">
{% load static %}
{% load django_bootstrap_breadcrumbs %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-181039223-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-181039223-1');
    </script>
    <title>Brenden Price -- Portfolio</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
    .breadcrumb li:hover{
      text-decoration: underline;
    }
    .breadcrumb-item + .breadcrumb-item::before{
      content: "»";
    }
    </style>
  </head>

  <body>

    <main role="main">
      <!--Section about me and this website-->
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="display-4 jumbotron-heading">{{me.name}}'s Porfolio</h1>
          <img src="{{me.image.url}}" height="300" />
          <p class="lead text-muted">{{me.summary}}</p>
          <p>
            <a href="{% url 'resume' %}" class="btn btn-primary my-2">My Resume</a>
            <a href="mailto:price.brenden01@gmail.com" class="btn btn-primary my-2">Email Me</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <!--Creating breadcrumbs-->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
          </nav>
          <!--End breadcrumbs-->
          <div class="row">
            <!--Loop through languages and display cards for each with photo and language name as URL-->
            {% for languages in languages.all %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a href="{% url 'language details' languages.id %}">
                  <img class="card-img-top" height="391.2px" width = "348px" src="{{ languages.image.url }}" style="margin-bottom:25px;">
                </a>
                <div class="card-body">
                  <center>
                    <a href="{% url 'language details' languages.id %}">
                      <h5 class="card-title card-link">{{ languages.language }}</p>
                    </a>
                  </center>
                </div>
              </div>
            </div>

            {% endfor %}
            <!--End Loop-->
          </div>

        </div>
      </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'jquery-3.3.1.min.js' %}" ></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
  </body>
</html>
